In [1]:
import pandas as pd
alunosDIC = {'Nomes':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
         'Nota':[4,7,5.5,9],
         'Aprovado':['Não','Sim','Não','Sim']}

In [2]:
alunosDF = pd.DataFrame(alunosDIC)

In [3]:
print(alunosDF)

     Nomes  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [5]:
alunosDF['Aprovado']

0    Não
1    Sim
2    Não
3    Sim
Name: Aprovado, dtype: object

In [8]:
alunosDF.loc[0:2]

     Nomes  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [9]:
alunosDF.loc[alunosDF['Nomes']=='Pedro']

   Nomes  Nota Aprovado
1  Pedro   7.0      Sim