In [22]:
import pandas as pd
import os
arquivo = pd.read_csv('/home/igor/Downloads/wine_dataset.csv')

In [23]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [24]:
arquivo['style'] = arquivo['style'].replace('red', 0)

In [25]:
arquivo['style'] = arquivo['style'].replace('white', 1)

In [26]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [28]:
#eparando as variáveis preditoras das variáveis alvo
y = arquivo['style'] #y vai receber a variável alvo
x = arquivo.drop('style', axis = 1) #x recebeu todos os dados exceto a style

In [33]:
from sklearn.model_selection import train_test_split

#criando os conjuntos de dados de treino e de teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

In [35]:
from sklearn.ensemble import ExtraTreesClassifier
#criação do modelo
modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino) #aplica o machine learning no conjunto de dados para treinar o modelo

#imprimindo os resultados
resultado = modelo.score(x_teste, y_teste) #agora usa a machine learning nos dados de teste para prever e comparar se acerto ou errou
print('Acurácia:', resultado)

Acurácia: 0.9953846153846154

In [36]:
previsoes = modelo.predict(x_teste[400:403])

In [40]:
previsoes

array([0, 1, 1])

In [41]:
y_teste[400:403]

1488    0
5657    1
4462    1
Name: style, dtype: int64